---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';

const home = await getEntry('pages', 'home');
if (!home) throw new Error('Missing homepage content at src/content/pages/home.md');
const { Content, headings } = await home.render();
const { title, intro } = home.data;

const projects = await getCollection('projects', ({ data }) => !data.draft);
---

<Layout pageTitle={title}>
  <div class="flex min-h-screen p-3">
    <header class="w-1/4 min-w-[200px] pr-3 border-r border-gray-200">
      <Welcome title={title} intro={intro} />
      <Content />
    </header>
    <main class="flex-1 px-3">
      <div class="w-full max-w-full lg:max-w-[50%]">
        <h2 class="heading">Work</h2>
        <ul class="grid">
          {projects.map(p => (
            <li>
              <ProjectCard
                title={p.data.title}
                href={`/projects/${p.slug}/`}
                summary={p.data.summary}
                gallery={p.data.gallery}
              />
            </li>
          ))}
        </ul>
      </div>
    </main>
  </div>
</Layout>